* {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

/* HELPER CLASSES */
.hidden {
    display: none;
}

.show {
    display: block;
}

/* HEADER */
header {
    padding: 10px;
    margin: 10px;
}   

#viewHS {
    font-size: 20px;
    color: blueviolet;
    float: left;
    text-decoration: none;
}

#viewHS:hover {
    cursor: pointer;
    font-weight: bold;
}



#wrapper {
    margin: 0 auto;
    display: block;
    padding: 50px;
    width: 75%;
}

.container {
    margin: 0 auto;
    width: 75%;
}

/* INFO DIV */

h2, p {
    text-align: center;
    margin: 15px auto;
}

h2 {
    font-size: 30px;
}

#start-button, #goback, #clearscores {
    background-color: blueviolet;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    min-width: 100%;
    margin: 20px auto;
}


/* QUESTION DIV */
#timer {
    font-weight: 700;
    float: right;
}

#question {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

button {
    background-color: blueviolet;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    min-width: 50%;
    
}

#showAnswer {
    font-size: 20px;
    color: grey;
    border-top: 1px solid gray;
    padding: 10px;
}

/* SCORES DIV */

#name {
    margin-bottom: 20px;
}

/* High Scores */

#halloffame {
    font-size: 18px;
    font-weight: 700;
    padding: 10px;

}

#halloffame li {
    padding: 10px;
    min-width: 100%;
}

#halloffame li:nth-child(even) {
    background-color: lightgoldenrodyellow;
}
